.center1200 {
  width: 1200px;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
#header {
  height: 76px;
  padding-top: 11px;
}
#header .logo {
  text-indent: -999px;
  width: 145px;
  height: 64px;
  background: url(../img/logo.png) no-repeat;
}
#header .nav {
  height: 76px;
  margin-left: 42px;
  font-size: 18px;
  color: #2e2e2e;
}
#header .active {
  color: #3eb0f9;
  /* text-decoration: underline; */
  border-bottom: 2px solid #3eb0f9;
}
.nav ul li {
  float: left;
  padding: 24px 48px;
}
.nav span {
  padding-bottom: 3px;
}
#footer {
  height: 147px;
  background: #2b2b2b;
}
#footer .up {
  height: 50px;
  background: #656565;
  overflow: hidden;
}
#footer .up .main {
  width: 486px;
  height: 30px;
  margin: 20px auto 0 ;
  color: #e6e6e8;
  line-height: 30px;
}
#footer .up .main span {
  padding: 0 30px;
  border-right: 1px solid #e6e6e8;
}
#footer .up .main .last {
  border: none;
}
#footer .down .main {
  width: 1150px;
  height: 99px;
  margin: 0 auto;
}
#footer .down .main .message {
  width: 910px;
  height: 74px;
  margin-left: 60px;
  padding-top: 25px;
}
#footer .down .main .message p {
  float: left;
  line-height: 30px;
  margin-right: 30px;
  font-size: 14px;
  color: #fff;
}
#footer .down .main .link {
  padding-top: 26px;
}
#footer .down .main .link .item {
  width: 60px;
  height: 60px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#footer .down .main .link .item .icon {
  width: 50px;
  height: 35px;
}
#footer .down .main .link .item .icon1 {
  background: url(../img/weibo.png) no-repeat center;
}
#footer .down .main .link .item .icon2 {
  background: url(../img/weixin.png) no-repeat center;
}
#footer .down .main .link .item .icon3 {
  background: url(../img/qq.png) no-repeat center;
}
.left_text {
  position: relative;
  width: 600px;
  height: 450px;
  background: pink;
}
.left_text .number {
  width: 178px;
  height: 64px;
  background: blue;
}
#content .module1 {
  height: 640px;
  background: #ccc;
}
#content .module2 {
  height: 582px;
  background: #f3f6ff;
}
#content .module3 {
  height: 460px;
  background: #fff;
}
#content .module4 {
  height: 580px;
  background: #f3f6ff;
}
#content .module5 {
  height: 512px;
  background: #fff;
}
